@import url("https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap");

/* root style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite PE", cursive;
}

/* header style */
.header {
  background-image: linear-gradient(
      0deg,
      rgb(18, 18, 18),
      rgba(18, 18, 18, 0) 100%
    ),
    url("../assets/images/donation0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "header-heading" "header-paragraph" "header-button";
  background-position: center;
  width: 1440px;
  height: 669px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

.header-heading {
  color: white;
  justify-content: center;
  align-items: center;
  width: 826px;
  height: 320px auto;
  font-size: 65px;
  font-weight: 700;
  line-height: 79px;
  letter-spacing: 0px;
  margin-top: 164px;
  margin-bottom: 20px;
}

.header-paragraph {
  color: white;
  justify-content: center;
  align-items: center;
  width: 826px;
  height: 320px auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.btn {
  border-radius: 5px;
  background: rgb(255, 89, 89);
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 151px;
  cursor: pointer;
  border: none;
  color: white;
}

.btn a {
  text-decoration: none;
  color: white;
  font-family: "Playwrite PE", cursive;
}

/* main style */
.main {
  width: 1440px;
  height: 669px auto;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-areas: "donate-today" "our-donate-plan" "image-details-1" "image-details-2" "get-my-updates" "subscription";
  gap: 10px;
}

.donate-today {
  grid-area: donate-today;
}

.our-donate-plan {
  grid-area: our-donate-plan;
}

.image-details-1 {
  grid-area: image-details-1;
}

.image-details-2 {
  grid-area: image-details-2;
}

.get-my-updates {
  grid-area: get-my-updates;
}

.subscription {
  grid-area: subscription;
}

.common {
  border: 2px solid black;
}

/* donate today */

.donate-today {
  border-radius: 10px;
  border: none;
}

.donate-today-heading h1 {
  color: rgb(18, 18, 18);
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: center;
  width: 357px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 40px;
}

.donate-today-heading p {
  color: rgb(112, 112, 112);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  width: 791px;
  margin: 0 auto;
  margin-top: 20px;
  margin: 0 auto;
}

.donate-today-amount {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 10px;
  max-width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.donate-today-amount h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  border: 1px solid black;
  padding: 20px 20px;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  height: 150px auto;
  margin: 0 auto;
  background: rgb(250, 250, 250);
}

.other-amount {
  text-align: center;
}

hr {
  max-width: 75%;
  margin: 0 auto;
}

.active {
  color: blueviolet;
}

/* our donate plan */
.our-donate-plan > h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 25px;
}

.our-donate-plan > p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  width: 791px;
  margin: 0 auto;
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.cards {
  padding: 10px 20px;
  border-radius: 10px;
}

.plans img {
  margin-bottom: 25px;
}

.plans h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.plans p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* image style */
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.container .image {
  width: 200%;
}

.container .image img {
  width: 100%;
  border-radius: 10px;
}

.container .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: left;
}

.container .btn {
  margin: 0;
  max-width: fit-content;
}

/* get my updates */
.get-my-updates {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 40px 20px;
}

.get-my-updates h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  margin-bottom: 25px;
}

.get-my-updates p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  width: 791px;
  margin: 0 auto;
}

/* subscription */
.subscription {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 70px;
  background: rgb(255, 244, 214);
  width: 809px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 90px;
}

#email {
  width: 50%;
  width: 275px;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.subscription .btn {
  margin-bottom: 0;
}

/* footer */
footer {
  background-color: black;
  text-align: center;
  padding: 40px 0;
  width: 100%;
}

footer h1 {
  color: rgb(255, 89, 89);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

footer p {
  color: rgb(217, 219, 225);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .header,
  .main {
    width: 100%;
  }

  .header-heading,
  .header-paragraph {
    width: 90%;
    font-size: 50px;
  }

  .header-paragraph {
    font-size: 16px;
  }

  .btn {
    font-size: 18px;
  }

  .donate-today-heading h1,
  .get-my-updates h1 {
    font-size: 40px;
  }

  .donate-today-heading p,
  .get-my-updates p {
    width: 90%;
    font-size: 16px;
  }

  .donate-today-amount {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-donate-plan > h1 {
    font-size: 40px;
  }

  .our-donate-plan > p {
    width: 90%;
    font-size: 18px;
  }

  .plans {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header,
  .main {
    width: 100%;
  }

  .header-heading,
  .header-paragraph {
    width: 100%;
    font-size: 40px;
  }

  .header-paragraph {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }

  .donate-today-heading h1,
  .get-my-updates h1 {
    font-size: 35px;
  }

  .donate-today-heading p,
  .get-my-updates p {
    width: 100%;
    font-size: 14px;
  }

  .donate-today-amount {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-donate-plan > h1 {
    font-size: 35px;
  }

  .our-donate-plan > p {
    width: 100%;
    font-size: 16px;
  }

  .plans {
    grid-template-columns: repeat(1, 1fr);
  }
}
